<% include partials/header %>
<p>
<a class="btn btn-primary btn-large" href="/AllBooks/new" >  ADD NEW BOOK</a> 
</p>
<div class="container">
    <div class="row text-center" style="display:flex flex-wrap:wrap;"; >
    <% AllBooks.forEach(function(Books){ %>
        
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= Books.image %> ">
                    <div class="caption">
                        <h4><%= Books.name %></h4> 
                    </div>
                    <a href="/AllBooks/<%= Books._id %>" class="btn btn-primary">More Info
                    </a>
                    <a href="/AllBooks/<%= Books._id %>/edit" class="btn btn-primary">Edit
                    </a>  
                    <p ><emp>Submitted By <%= Books.user.username %></emp></p>
                   
                </div>
            </div>  
    <% }); %>
    </div>
</div>
<% include partials/footer %> 
